.header-h1, .moviegoers-title, .moviegoers-list-title, .movies-title, .movie-card, .moviegoer-card, p {
  color: white;
}

.header {
  background-color: #8096ac;
}

.movie-card {
  background-color: #a8578d;
}

.moviegoer-card {
  border: 1px solid #007bff;
  background-color: #6E7B85;
}

.moviegoer-card:hover {
  background-color: #007bff;
}

.footer {
  color: #000;
}