.header-h1, .movie-card, .moviegoer-card {
  color: white;
}

.header {
  background-color: #606c79;
  ;
}

.moviegoer-card {
  border: 1px solid #007bff;
  background-color: #566068;
}

.moviegoer-card:hover {
  background-color: #007bff;
}

.movie-card {
  background-color: #a8578d;
}

.moviegoers-title, .moviegoers-list-title, .movies-title, .footer {
  color: #000;
}