@media screen and (min-width: 900px) {
  .header-h1 {
    text-align: center;
    margin: 0;
  }
  .header-h1 {
    font-size: 3.5rem;
  }
  .header {
    height: 250px;
  }
  .moviegoers-list {
    grid-template-columns: 1fr 1fr;
  }
  .movie-card {
    flex-basis: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .header-h1 {
    font-size: 5.5rem;
  }
  .moviegoers-list, .movies-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .movie-card {
    flex-basis: 30%;
  }
}